[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
[submodule "themes/alpha-dust"]
	path = themes/alpha-dust
	url = https://github.com/klugjo/hexo-theme-alpha-dust
[submodule "themes/cyanstyle"]
	path = themes/cyanstyle
	url = https://github.com/wizardforcel/hexo-theme-cyanstyle.git
[submodule "themes/material"]
	path = themes/material
	url = https://github.com/viosey/hexo-theme-material.git
[submodule "themes/spectre"]
	path = themes/spectre
	url = https://github.com/neofelhz/hexo-theme-spectre.git
[submodule "themes/matery"]
	path = themes/matery
	url = https://github.com/blinkfox/hexo-theme-matery
[submodule "themes/typescript"]
	path = themes/typescript
	url = https://github.com/artchen/hexo-theme-typescript
[submodule "themes/one"]
	path = themes/one
	url = https://github.com/EYHN/hexo-theme-one
[submodule "themes/paperbox"]
	path = themes/paperbox
	url = https://github.com/CitruXonve/hexo-theme-paperbox
[submodule "themes/landscape-plus"]
	path = themes/landscape-plus
	url = https://github.com/xiangming/landscape-plus
