title: CitruXonve's another far end
subtitle: Development Diary
description: null
keywords: null
author: CitruXonve
language: en
timezone: null
url: 'http://yoursite.com/'
root: /
permalink: 'posts/:abbrlink/'
permalink_defaults: null
abbrlink:
  alg: crc32
  rep: hex
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: ':lang'
skip_render: null
new_post_name: ':title.md'
default_layout: post
titlecase: false
external_link: true
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: null
index_generator:
  path: ''
  per_page: 10
  order_by: '-date'
default_category: uncategorized
category_map: null
tag_map: null
date_format: MM/DD/YYYY
time_format: 'HH:mm:ss'
per_page: 10
pagination_dir: page
theme: icarus
deploy:
  type: git
  repo: 'https://__DEPLOY_ACCESS_TOKEN__@github.com/CitruXonve/devblog.git'
  branch: gh-pages
theme_config: null
